@font-face {
	font-family: 'Gotham-Light';
	src: url('../fonts/Gotham-Light.otf');
	src: url('../fonts/Gotham-Light.otf') format('embedded-opentype'),
		 url('../fonts/Gotham-Light.otf') format('woff2'),
		 url('../fonts/Gotham-Light.otf') format('woff'),
		 url('../fonts/Gotham-Light.otf') format('truetype'),
		 url('../fonts/Gotham-Light.otf') format('svg');
}

@font-face {
	font-family: 'Gotham-Book';
	src: url('../fonts/Gotham-Book.otf');
	src: url('../fonts/Gotham-Book.otf') format('embedded-opentype'),
		 url('../fonts/Gotham-Book.otf') format('woff2'),
		 url('../fonts/Gotham-Book.otf') format('woff'),
		 url('../fonts/Gotham-Book.otf') format('truetype'),
		 url('../fonts/Gotham-Book.otf') format('svg');
}

@font-face {
	font-family: 'Gotham-Medium';
	src: url('../fonts/Gotham-Medium.otf');
	src: url('../fonts/Gotham-Medium.otf') format('embedded-opentype'),
		 url('../fonts/Gotham-Medium.otf') format('woff2'),
		 url('../fonts/Gotham-Medium.otf') format('woff'),
		 url('../fonts/Gotham-Medium.otf') format('truetype'),
		 url('../fonts/Gotham-Medium.otf') format('svg');
}

@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/Gotham-Bold.otf');
	src: url('../fonts/Gotham-Bold.otf') format('embedded-opentype'),
		 url('../fonts/Gotham-Bold.otf') format('woff2'),
		 url('../fonts/Gotham-Bold.otf') format('woff'),
		 url('../fonts/Gotham-Bold.otf') format('truetype'),
		 url('../fonts/Gotham-Bold.otf') format('svg');
}