// ************************
// Color Variables
// ************************
$shamrock: 		#2CD4AE;			
$turquoise: 	#4FE3C0;


// ***********************
// BREAKPOINTS
// ***********************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;


// *********

$font-light:  	"Gotham-Light", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-book: 	"Gotham-Book", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-medium: 	"Gotham-Medium", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-bold:		"Gotham-Bold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
